<?xml version="1.0"?>

<launch>
  <arg name="set_map_frame" default="map"/>
  <arg name="robot_name1" default="AGV_OTA1"/>

  <!-- Run Gazebo -->
  <include file="$(find agv_launch)/launch/gazebo.launch">
    <arg name="world_name" value="$(find agv_simulation)/worlds/map_depo.world"/>
  </include>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find agv_navigation)/map/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="$(arg set_map_frame)"/>
  </node>

  <!-- Spawn Robot -->
  <include file="$(find agv_launch)/launch/single_agv_spawn.launch">
    <arg name="robot_name" default="$(arg robot_name1)"/>
    <arg name="initial_pose_x" default="0"/>
    <arg name="initial_pose_y" default="0"/>
    <arg name="initial_pose_z" default="0"/>
  </include>
  <include file="$(find agv_launch)/launch/single_agv_spawn.launch">
    <arg name="robot_name" default="AGV_OTA2"/>
    <arg name="initial_pose_x" default="10"/>
    <arg name="initial_pose_y" default="0"/>
    <arg name="initial_pose_z" default="0"/>
  </include>
  <include file="$(find agv_launch)/launch/single_agv_spawn.launch">
    <arg name="robot_name" default="AGV_OTA3"/>
    <arg name="initial_pose_x" default="15"/>
    <arg name="initial_pose_y" default="0"/>
    <arg name="initial_pose_z" default="0"/>
  </include>

</launch>