<?xml version="1.0"?>
<launch>
	<arg name="robot_name" default="AGV_OTA"/>
    <arg name="initial_pose_x" default="0"/>
    <arg name="initial_pose_y" default="0"/>
    <arg name="initial_pose_z" default="0"/>
w
	<group ns="$(arg robot_name)">
		<param name="robot_description" command="$(find xacro)/xacro '$(find agv_description)/urdf/agv.urdf.xacro'" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
			<param name="publish_frequency" type="double" value="10.0" />
			<param name="tf_prefix" value="$(arg robot_name)" />
			<remap from="/joint_states" to="$(arg robot_name)/joint_states" />
		</node>
		<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
		<param name="tf_prefix" value="$(arg robot_name)" />
		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
			 args="-urdf -model $(arg robot_name) -x $(arg initial_pose_x) -y $(arg initial_pose_y) -z $(arg initial_pose_z) -param robot_description">
		</node>
  	</group>
</launch>